*.musicxml
*.pdf
*.png
*.wav
*.midi
*.DS_Store
!test-input-10sec.wav
# Soundfont files
*.sf2
*.sf3
*.dls
# Large files
FluidR3_GM.sf2
README.txt
copyright.txt
src/cs489_project/__pycache__/
__pycache__/
