# Ignore large files
*.wav
*.mp3
*.mp4
*.webm
*.sf2
FluidR3_GM.sf2
*/node_modules/
*/.next/

# Ignore backend cookies
.env 
README.txt 

backend/.env
backend/README.txt
backend/copyright.txt
harmonic/
output.musicxml
output.pdf
test.pdf
__pycache__/
copyright.txt*.sf2
