annotated-types
anyio
audioread
backports.tarfile
boltons
build
CacheControl
certifi
cffi
chardet
charset-normalizer
cleo
click
contourpy
crashtest
cryptography
cycler
Cython
decorator
distlib
docopt
dulwich
environs
exceptiongroup
fastapi
fastjsonschema
filelock
findpython
fonttools
getmac
h11
httpcore
httpx
idna
importlib_metadata
installer
jaraco.classes
jaraco.context
jaraco.functools
joblib
jsonpickle
keyring
kiwisolver
lazy_loader
librosa
llvmlite
marshmallow
matplotlib
mido
more-itertools
msgpack
music21
noisereduce
ntplib
numba
numpy>=1.17.0,<1.21.0
packaging
pandas>=2.0.0
pbs-installer
pedalboard
pillow
pkginfo
platformdirs
poetry
poetry-core
pooch
pretty_midi
pyarrow
pycparser
pydantic
pydantic_core
pyparsing
pyproject_hooks
python-dateutil
python-dotenv
python-multipart
pytz
RapidFuzz
requests
requests-toolbelt
scikit-learn
scipy
shellingham
six
sniffio
sounddevice
SoundFile
sourcedefender
soxr
starlette
TgCrypto-pyrofork
threadpoolctl
tomli
tomlkit
tqdm
trove-classifiers
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
virtualenv
webcolors
xattr
zipp
zstandard
